<h3 class="heading">Földterületek költségei</h3>
<div class="content">
    <div class="span6">
        <label for="LandCostViewModel_landId" class="required">Földterület <span class="required">*</span></label><select class="form-control" name="LandCostViewModel[landId]" id="LandCostViewModel_landId">
        <option value="" selected="selected">(Válasszon)</option>
        <option value="18">Kazincbarcika - Belterület - 11993/3 - 0.0459 ha</option>
        <option value="16">Kazincbarcika - Belterület - 12349 - 0.6147 ha</option>
        <option value="15">Sajókaza - Külterület - 041/1 - 7.1 ha</option>
        <option value="11">Sajókaza - Külterület - 043/14 - 4.7 ha</option>
        <option value="14">Sajókaza - Külterület - 044/2 - legelő - 7.1432 ha</option>
        <option value="13">Sajókaza - Külterület - 044/2 - szántó - 1.7 ha</option>
        <option value="12">Sajókaza - Külterület - 064/1 - 1 ha</option>
        </select>
    </div>
    <div class="span6">
        <label for="LandCostViewModel_landId" class="required">Gazdasági év <span class="required">*</span></label><select class="form-control" name="LandCostViewModel[landId]" id="LandCostViewModel_landId">
        <option value="" selected="selected">(Válasszon)</option>
        <option value="18">Kazincbarcika - Belterület - 11993/3 - 0.0459 ha</option> 
        </select>
    </div>
</div>
<div class="koltseg">

<p>Válasszon földterületet és gazdasági évet.</p>

</div>

